<!DOCTYPE html>
<html>
<head>
    <title>ToDo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Dobrodosao <%= username %></h1>
<p>
    <a href="/users/<%= username%>">To-Do</a>
    <a href="/">Nazad</a>
</p>
</body>
</html>
