<!DOCTYPE html>
<html>
<head>
    <title>ToDo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>To-Do</h1>
<p>

    <a href="/login"> Login </a>
<br>
    <a href="/register"> Register </a>

</p>
</body>
</html>
